{
set -e

if ! systemctl disable netmain-{{ ifname }}.service && systemctl stop netmain-{{ ifname }}.service > /dev/null 2>&1; then
    echo "{{ messages['300'] }}"
    exit 1
fi
echo "{{ messages['000'] }}"
}
