#!/bin/bash

{% if ips|length > 0 %}
# Delete the IP addresses
{% for ip in ips %}
ip addr del {{ ip }} dev {{ ifname }}{{ vlan }}
{% endfor %}
{% endif %}

{% if routes|length > 0 %}
# Delete the Routes
{% for route in routes %}
ip route del {{ route['to'] }} via {{ route['via'] }} dev {{ ifname }}{{ vlan }}
{% endfor %}
{% endif %}

ip link set dev {{ ifname }}{{ vlan }} down
