{
set -e

{% if down_required is True %}
if ! systemctl enable net_main-{{ interface_name }}.service > /dev/null 2>&1; then
    echo "{{ messages['300'] }}"
    exit 1
fi
{% endif %}
if ! systemctl start net_main-{{ interface_name }}.service > /dev/null 2>&1; then
    echo "{{ messages['301'] }}"
    exit 1
fi
echo "{{ messages['000'] }}"
}