{
set -e

if ! systemctl enable net_main-{{ ifname }}.service && systemctl start net_main-{{ ifname }}.service > /dev/null 2>&1; then
    echo "{{ messages['300'] }}"
    exit 1
fi
echo "{{ messages['000'] }}"
}