[Unit]
Description=Configure br{{ vlan }} network interface
After=sys-subsystem-net-devices-br{{ vlan }}.device
Requires=sys-subsystem-net-devices-br{{ vlan }}.device

[Service]
Type=oneshot
ExecStart={{ up_script_path }}
ExecStop={{ down_script_path }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
